@{
    ViewBag.Title = "About";
    Layout = null;
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>:: Student Management System ::</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    @*<style>
        body {
            background-image: url('../images/login-bg.jpg');
        }
    </style>*@
</head>
<body class="About-wallpaper">
    <div class="About-box">
        <div class="About-container-fluid">
            <h5 class="text-center animated-text">
                <br><b>โปรเจกต์นี้เป็นส่วนหนึ่งในวิชา 4121204 การเขียนโปรแกรมภาษาคอมพิวเตอร์ 2</b>
                <br><b>เสนอ อ.ชาญเวทย์ อิงคเวทย์</b>
            </h5>
        </div>
        <div class="About-box-name">
            <div class="image-container">
                <img src="~/images/about.jpg" alt="about.jpg" class="About-photo" />
            </div>

            <div class="text-center animated-content">
                <br> นายสหกาญจน์ คลองสามสิบ<br>
                <br> 6430122115302@pnru.ac.th<br>
                <br> นายชฎายุ เเก้วมะณี<br>
                <br> 6430122115304@pnru.ac.th<br>
                <br> นายสรศักดิ์ ทรงแก้ว<br>
                <br> 6430122115306@pnru.ac.th<br>
                <br><a href="https://drive.google.com/drive/folders/11N3bTQj-IYjKxQK5NIlsABg8pDpS5vz-?usp=sharing">ดาวน์โหลดเอกสารประกอบการนำเสนอที่นี่</a><br>
            </div>                
        </div>
        <div class="container-form-btn">
            <button class="about100-form-btn">
                <a href="~/UserLogins/Loginform" style="text-decoration: none; color: #ffffff; ">กลับ</a>
                
            </button>
        </div>
    </div>
</body>
