@model Production.Models.UserLogin
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>

<head>
    <title> Adduser</title>
    @Styles.Render("~/Content/css")
</head>


<body class="add-wallpaper">
    <div class="add-box">
        <div class="flex-container-add">
            <label for="stu_username">ชื่อผู้ใช้:</label>
            <input type="text" class="username" id="Username" name="Username" placeholder="Enter Username">
            <label for="stu_password">รหัสผ่าน:</label>
            <input type="text" class="password" id="Password" name="Password" placeholder="Enter Password">
            <label for="Firstname">ชื่อจริง :</label>
            <input type="text" class="Firstname" id="Firstname" name="Firstname" placeholder="Enter Firstname">
            <label for="Lastname">นามสกุล :</label>
            <input type="text" class="Lastname" id="Lastname" name="Lastname" placeholder="Enter Lastname">
            <label for="Position">ตำแหน่ง:</label>
            <input type="text" class="Position" id="Position" name="Position" placeholder="Enter Position">
            <div class="add-bottom">
                <input name="reset" type="submit" id="Reset" value="บันทึก" class="add-bottom1">
                <input name="reset" type="reset" id="Reset" value="ล้างค่า" class="add-bottom2">
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
