@{
    Layout = null;
}
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>:: Student Management System ::</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    @*<style>
        body {
            background-image: url('../images/login-bg.jpg');
        }
    </style>*@
</head>
<body class="fail-wallpaper">
    <div class="fail-limiter">
        <div class="container-fluid-fail">
            <img src="~/images/login Filed.png" alt="login Filed" class="fail-photo" />
        </div><br>
        <h3>ชื่อผู้ใช้หรือรหัสผ่านไม่ถูกต้อง</h3><br>
        <button class="failure"><a href="@Url.Action("Loginform", "UserLogins")" style="text-decoration: none;">กดที่นี่เพื่อกลับไปหน้าล็อกอิน</a> </button>

        <script>
            const image = document.getElementById('moving-image');
            image.addEventListener('mouseover', () => {
                image.style.transform = 'translateX(10px) translateY(10px)';
            });

            image.addEventListener('mouseout', () => {
                image.style.transform = 'none';
            });
        </script>


</body>
</html>
